aptdaemon
attrs
autocommand
babel
bcc
bcrypt
blinker
Brlapi
certifi
chardet
click
command-not-found
configobj
cryptography
cupshelpers
dasbus
dbus-python
defer
distro
distro-info
httplib2
idna
inflect
jaraco.context
jaraco.functools
jaraco.text
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
libpass
linkify-it-py
louis
Mako
markdown-it-py
MarkupSafe
mdurl
more-itertools
netaddr
oauthlib
olefile
packaging
pexpect
pillow
psutil
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
pyparsing
pyserial
python-apt
python-debian
pyxdg
PyYAML
referencing
requests
rich
rpds-py
setproctitle
setuptools
systemd-python
typeguard
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
uc-micro-py
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
wheel
xdg
xkit
zipp
